.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 32px;
  max-width: 1110px;
  margin: 0 auto;

  .loginPage {
    display: flex;
    align-items: center;
    gap: 16px;

    p {
      font-size: 15px;
      font-weight: 700;
      line-height: 22.5px;
      color: #9e9aa8;
    }
    button {
      border: none;
      background: transparent;
      padding: 4px 8px;
      cursor: pointer;
    }
  }

  h1 {
    a {
      text-decoration: none;
      color: black;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: left;
    color: #9e9aa8;
  }

  .btnGroups {
    a {
      border: none;
      background: transparent;
      font-size: 15px;
      font-weight: 700;
      line-height: 22.5px;
      text-align: left;
      color: #9e9aa8;
      padding: 9px 24px;
      text-decoration: none;
    }

    .sign {
      background: #2bd0d0;
      color: #ffffff;
      border-radius: 32px;
    }
  }
}

@media (width <=426px) {
  .headerContainer {
    ul {
      display: none;
    }
  }
}
